@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
  --blue-1: #294570;
  --blue-2: #3589a1;
  --blue-3: #6fcde8;
  --blue-4: #0c1623;
  --blue-5: #204781;
  --grey-1: #d9d9d9;
  /* --yellow-1: ; */
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: green; */
  overflow-x: hidden;
  /* height: 100%; */
}
* {
  /* font-family: 'Nunito Sans', sans-serif; */
  margin: 0;
  padding: 0;
  outline: 0;
}
/* Header */

.icon {
  height: 7rem;
  width: 7rem;
}
header {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-inline: 5vw;
  justify-content: space-between;
  z-index: 99;
  transition: 0.4s ease-out;
  /*  */
}
.anchor-wrapper {
  display: flex;
  gap: 1.3vw;
}
.anchor-el,
.contact-text {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s linear;
}
.anchor-el::after {
  content: '';
  display: block;
  transform: scaleX(0);
  border-bottom: 0.1rem solid var(--blue-2);
  transition: 0.2s linear;
  position: relative;
}
.anchor-el:hover::after {
  transform: scaleX(0.5);
}
.arrow_down,
.arrow_up {
  position: absolute;
  top: 43%;
}
.contact-text {
  border: 0.1rem solid white;
  padding: 1rem 2.2rem;
}
.contact-text:hover {
  opacity: 0.6;
}
.product-el {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 0.1rem;
  cursor: pointer;
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 70%;
  background: white;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.4s ease-out;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
.dr-sub {
  /* background: green; */
  top: 0;
  right: -100%;
}
.dr-sub2 {
  top: 35%;
  right: -87%;
}
.dropdown-el {
  /* background: white; */
  color: black;
  text-decoration: none;
  transition: 0.4s ease-out;
}
/* Main */

.content-wrapper {
  /* height: 300vh; */
  font-family: 'Inter', sans-serif;
}
.row-1 {
  height: 100vh;
  /* padding: 1rem; */
  /* width: 100vw; */
  background: url('../../public/home-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  justify-content: center;
  padding-inline: 5vw;
  align-items: flex-start;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 5rem);
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.row-1-company-name {
  z-index: 3;
  color: white;
  font-size: 2rem;
  border-bottom: 1px solid yellow;
}
span {
  color: yellow;
}
.row-1-cta {
  font-size: 5rem;
  color: white;
  z-index: 3;
}
.row-1-detail {
  z-index: 3;
  color: white;
  padding-block: 2vh;
}
.row-1-product-btn {
  text-decoration: none;
  display: inline-block;
  color: black;
  background: white;
  margin-top: 0.3rem;
  z-index: 3;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
}
.row-2 {
  padding-bottom: 0;
  /* height: 100vh; */
  background: linear-gradient(90deg, #0c1623, #294570);
  display: flex;
  font-size: 3.2vw;
}
.row-2-pic {
  /* flex: 1; */
  height: 100vh;
  width: 50vw;
}
section.row-2-detail {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.row-2-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 270%;
  color: white;
}
.row-2-detail-content {
  font-family: 'Nunito Sans', 'Inter', sans-serif;
  font-size: 60%;
  color: white;
}
.learn-more-btn {
  background: var(--grey-1);
  padding: 0.7rem 1.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.row-3 {
  height: 100vh;
  display: flex;
  position: relative;
  padding-inline: 3rem;
}
.row-3-pic {
  height: 100vh;
  flex: 1;
  transition: transform 0.5s ease;
  /* cursor: pointer; */
}
SwiperSlide {
  overflow: hidden;
  position: relative;
}
SwiperSlide:hover {
  cursor: pointer;
}
.row-3-title {
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.row-3-slide-detail {
  flex: 1;
  z-index: 5;
  position: absolute;
  /* top: 0; */
  bottom: 8%;
  cursor: pointer;
  width: 100%;
  font-size: 3.8vw;
}
.row-3-slide-detail-title {
  font-family: 'Inter', sans-serif;
  font-size: 70%;
  font-weight: 500;
  text-align: center;
  color: white;
  /* width: 29.5vw; */
  padding-inline: 2rem;
}
.row-3-slide-decoration {
  width: 100%;
  /* width: 90%; */
  /* padding-inline: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: green; */
}
.row-3-circle {
  height: 2rem;
  width: 2rem;
  /* border: 2px solid var(--blue-3); */
  /* background: none; */
  background: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-3-circle-sub {
  height: 1.5rem;
  width: 1.5rem;
  /* background: var(--blue-3); */
  border-radius: 1.5rem;
}
.row-3-line {
  height: 0.2rem;
  width: 80%;
  background: white;
}
.row-3-overlay {
  height: 100vh;
  width: 33.6vw;
  flex: 1;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}
.ss1,
.ss2,
.ss3,
.ss4,
.ss5 {
  overflow: hidden;
}
.ss1:hover .row-3-pic,
.ss2:hover .row-3-pic,
.ss3:hover .row-3-pic,
.ss4:hover .row-3-pic,
.ss5:hover .row-3-pic {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 1);
}
.ss2:hover .row-3-overlay,
.ss1:hover .row-3-overlay,
.ss3:hover .row-3-overlay,
.ss4:hover .row-3-overlay,
.ss5:hover .row-3-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.row-2_5 {
  width: 100vw;
  /* height: 20vh; */
  font-size: 3.8vw;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.row-2_5 h1 {
  font-size: 100%;
  font-weight: 600;
}
.row-2_5 p {
  font-weight: 300;
  font-size: 50%;
}
.row-4 {
  background: linear-gradient(
    45deg,
    var(--blue-4),
    var(--blue-5),
    var(--blue-3)
  );
  padding-bottom: 3vh;
  /* padding: 10rem; */
  /* height: 100vh; */
  margin-top: 3rem;
  font-size: 3.8vw;
}
.row-4-title {
  padding: 5rem;
  font-size: 130%;
  color: white;
}
.row-4-sub-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-4-icon {
  margin-right: 10vw;
  height: 20%;
  width: 20%;
}
.marquee {
  height: 20vh;
  overflow-y: hidden;
  background: white;
  display: flex;
  /* gap: 10rem; */
}
.icon-marquee-1,
.icon-marquee-2,
.icon-marquee-3,
.icon-marquee-4,
.icon-marquee-5,
.icon-marquee-6 {
  cursor: pointer;
  margin-inline: 2rem;
}
.icon-marquee-1 {
  height: 20vh;
}
.icon-marquee-2 {
  height: 22vh;
}
.icon-marquee-3 {
  width: 20vw;
}
.icon-marquee-5 {
  height: 20vh;
}
.icon-marquee-4 {
  width: 16vw;
  height: 20vh;
}
.icon-marquee-6 {
  height: 20vh;
}
.row-5 {
  position: relative;
  height: 50vh;
  background: url('../../public/cta.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
.row-5-overlay {
  background: rgba(53, 137, 161, 0.3);
  position: absolute;
  height: 50vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}
.row-5-sub {
  font-size: 4rem;
  font-weight: 500;
  color: white;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.row-5-sub-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 3.8vw;
}
.row-5-title {
  font-size: 100%;
}
.row-5-btn {
  font-size: 30%;
  color: white;
  text-decoration: none;
  background: none;
  border: 2px solid white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: 0.2s linear;
}
.cntc:hover {
  background: var(--blue-1);
  color: white;
  border-color: var(--blue-1);
}
.prdct:hover {
  cursor: pointer;
  background: var(--blue-2);
  color: white;
  border-color: var(--blue-2);
}
footer {
  /* height: 55vh; */
  /* width: 100vw; */
  background: linear-gradient(var(--blue-3), var(--blue-5), var(--blue-4));
  padding: 5rem 10rem;
  padding-bottom: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  font-size: 0.8vw;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 7rem;
}
.footer-icon {
  height: 10rem;
  width: 10rem;
  margin-bottom: 3rem;
}
.footer-sub-2-title {
  font-size: 200%;
  /* font-size: 2rem; */
  color: white;
}
.footer-wrap-1 {
  display: flex;

  gap: 2rem;
}
.footer-sub-1 {
  flex: 1;
  /* background: green; */
}
.footer-sub-2 {
  flex: 1;
}
.footer-sub-2-col-1 {
  /* background: green; */
  flex: 1;
}
.footer-sub-2-col-2 {
  /* background: green; */
  flex: 1;
}
.mapouter {
  flex: 3;
}
.quick_link,
.footer-product {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
  font-size: 155%;
}
.footer-sub-2 {
  flex: 5;
  display: flex;
  /* gap: 8rem; */
  margin-top: 2rem;
}
.footer-anchor {
  color: white;
  text-decoration: none;
}
.footer-sosmed {
  height: 3rem;
  width: 3rem;
}
.sub-1-wrap {
  display: flex;
  align-items: center;
  color: white;
  font-size: 100%;
  /* font-size: 0.75rem; */
}
.mapouter {
  position: relative;
  text-align: right;
  /* penting */
  height: 260px;
  width: 820px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 360px;
  width: 400px;
  margin-right: 0;
  border-radius: 0.4rem;
}
.footer-wrap-2 {
  font-size: 0.8rem;
  /* text-align: center; */
  padding-block: 1rem;
  color: white;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
}
.footer-wrap-2 p {
  text-align: center;
}
.footer-sosmed-2 {
  /* text-align: right; */
  height: 1.5rem;
  margin-inline: 0.3rem;
  width: 1.5rem;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.row-1-about-title {
  font-size: 4rem;
  z-index: 3;
}
.row-1-about-company {
  font-size: 5rem;
  border-bottom: 3px solid yellow;
  margin-bottom: 1rem;
  color: white;
  z-index: 3;
}
.row-5-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.arrow_forward {
  position: absolute;
  right: 10%;
  transform: scaleX(0);
  transition: 0.2s ease;
}
.row-5-btn:hover .arrow_forward {
  transform: scaleX(1);
}
.row-1-about-company-indo {
  font-size: 4rem;
  color: white;
  z-index: 3;
}
.about-row2 {
  padding: 5rem 10rem;
  display: flex;
  gap: 10rem;
  font-size: 0.8vw;
}
.about-standards {
  padding: 5rem 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 10rem; */
}
.about-row2-img-wrapper {
  flex: 1;
  position: relative;
  height: 25rem;
  width: 35rem;
  border: 0.4rem solid var(--blue-1);
}
.about-row2-pic1 {
  position: absolute;
  bottom: -10%;
  right: -22%;
  height: 100%;
  width: 110%;
  /* height: auto; */
  /* height: calc(100% - 2vh); */
  /* max-width: 110%; */
  border-radius: 0.8rem;
}
.about-row3-detail {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}
.about-row2-detail,
.about-row3-detail {
  font-size: 3.8vw;
  flex: 1;
}
.about-row2-detail h1,
.about-row3-detail h1 {
  margin-top: 10vh;
  font-size: 80%;
}
.about-standards-detail {
  font-size: 3.8vw;
}
.about-standards-detail h1 {
  font-size: 70%;
  margin-top: 10vh;
  text-align: center;
}
.about-standards-detail p {
  font-size: 40%;
  text-align: center;
  font-weight: 200;
  padding-top: 2rem;
}
.about-standards-picture-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.about-row3-detail h1 {
  margin-top: 0;
  text-align: right;
}
.about-row3-detail p {
  text-align: right;
}
.about-row2-detail p,
.about-row3-detail p {
  padding-top: 2rem;
  font-size: 40%;
  font-weight: 200;
}
.about-row3-img-wrapper {
  flex: 1;
  position: relative;
  border: 0.4rem solid var(--blue-1);
}
.about-carbontech {
  width: 35rem;
  height: 25rem;
  position: absolute;
  bottom: -10%;
  left: -15%;
}
.about-row2-pic2 {
  border-radius: 0.7rem;
  position: absolute;
  bottom: -20%;
  right: 10%;
  height: 27rem;
}
.about-row2-circle {
  /* height: 20rem; */
  /* width: 20rem; */
  text-align: center;
  /* border-radius: 20rem; */
}
.circle-logo {
  height: 10rem;
  width: 20rem;
  /* border-radius: 20rem;/ */
}
.row-1-product {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.8vw;
  /* background: green; */
}
.product-carbontech {
  padding-top: 3rem;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.logo-carbontech {
  width: 70%;
  height: 70%;
}
.product-row-2 {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
.product-row-2-1 {
  display: flex;
  /* flex: 50%; */

  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.product-els {
  height: 100%;
  width: 100%;
  transition: 0.4s ease;
}
.product-row-2-1-el,
.product-row-2-2-el,
.product-row-2-3-el,
.product-row-2-4-el {
  overflow: hidden;
  position: relative;
  /* background: green; */
  flex: 1;
}
.product-row-2-1-el-decoration,
.product-row-2-2-el-decoration,
.product-row-2-3-el-decoration,
.product-row-2-4-el-decoration {
  position: absolute;
  bottom: 10%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 0.4s ease;
}
.product-row-2-1-el-circle {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  background: white;
}
.product-row-2-1-el-rectangle {
  height: 0.1rem;
  width: 80%;
  background: white;
}
.product-row-2-1-decoration-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-row-2-1-el-decoration h1,
.product-row-2-2-el-decoration h1,
.product-row-2-3-el-decoration h1,
.product-row-2-4-el-decoration h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
}
.product-row-2-1-el p,
.product-row-2-2-el p,
.product-row-2-3-el p,
.product-row-2-4-el p {
  /* position: absolute; */
  transform: scaleY(0);
  z-index: 10;
  color: white;
  padding-inline: 20%;
  font-weight: 200;
  transition: 0.2s ease;
}
.product-row-2-1-el:hover img,
.product-row-2-2-el:hover img,
.product-row-2-3-el:hover img,
.product-row-2-4-el:hover img {
  transform: scale(1.2);
}
.product-row-2-1-el:hover .product-row-2-1-el-decoration,
.product-row-2-2-el:hover .product-row-2-2-el-decoration,
.product-row-2-3-el:hover .product-row-2-3-el-decoration,
.product-row-2-4-el:hover .product-row-2-4-el-decoration {
  position: absolute;
  bottom: 20%;
}
.product-row-2-1-el:hover .product-row-2-1-el-decoration p,
.product-row-2-2-el:hover .product-row-2-2-el-decoration p,
.product-row-2-3-el:hover .product-row-2-3-el-decoration p,
.product-row-2-4-el:hover .product-row-2-4-el-decoration p {
  transform: scaleY(1);
}
.detail-product {
  padding-inline: 70rem;
}
.revowrap225 {
  background: url('../../public/product-1.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.ovl-prod {
  background: rgba(0, 0, 0, 0.1);
}
.product-indepth {
  /* height: 70vh; */
  display: flex;
  padding: 2rem 4rem;
  padding-bottom: 0;
}
.product-indepth-picture-wrapper {
  flex: 1;
}
.product-indepth-pic {
  height: 50vh;
  flex: 1;
}
.product-detail-product {
  font-size: 3.8vw;
  padding: 2rem;
  padding-bottom: 0rem;
}
.product-detail-product h1 {
  padding-bottom: 3vh;
  font-size: 70%;
  /* font-size: 2.5rem; */
}
.product-detail-product p {
  font-size: 35%;
  font-weight: 300;
}
.product-table {
  /* margin-top: -10rem; */
  width: 100%;
}
.product-indepth-button {
  text-align: center;
  padding: 0.7rem 1rem;
  background: none;
  border: 2px solid var(--blue-1);
  border-radius: 2rem;
  font-size: 1.3rem;
  color: black;
  font-weight: 600;
  margin-block: 2rem;
  text-decoration: none;
}
.product-button-wrapper {
  /* background: green; */
  display: flex;
  justify-content: center;
  /* height: 20vh; */
}
.revowrap185 {
  background: url('../../public/product-2.jpg');
}
.revowrap110 {
  background: url('../../public/product-3.jpg');
}
.revowrap80 {
  background: url('../../public/product-4.jpg');
}
.revomat {
  background: url('../../public/product-5.jpg');
}
.spitze_hp_clamp {
  background: url('../../public/product-6.jpg');
}
.revostrap {
  background: url('../../public/product-7.jpg');
}
.contactus {
  background: url('../../public/contact-us_LE_auto_x2.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.contact-us-wrapper {
  display: flex;
  padding: 5rem;
  height: 100vh;
  padding-bottom: 0;
}
.contact-us-wrapper .mapouter {
  flex: 1;
  /* background: green; */
  /* width: 50vw; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-wrapper .mapouter {
  width: 100%;
  height: 100%;
  padding: 0;
}
.gmap_canvas iframe {
  width: 100%;
  height: 90%;
}
.contact-us-wrapper .gmap_canvas {
  width: 100%;
  height: 100%;
  margin: 0;
}
.contact-wrap-2 {
  padding-inline: 3vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 90vh;
}
.contact-wrap-2 input {
  flex: 1;
  padding: 1.5rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4rem;
  border: 1px solid black;
  /* border-color: rgba(0, 0, 0, 0.5); */
}
.contact-wrap-2 textarea {
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Inter';
  border: 1px solid black;
  resize: none;
  flex: 10;
}
.contact-submit-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  /* background: green; */
}
.contact-submit-button {
  border: 2px solid var(--blue-1);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: white;
  cursor: pointer;
}
.contact-submit-button:hover {
  cursor: pointer;
}
.nC-product {
  padding: 5rem 10rem;
}
.product-detail-product h2 {
  font-size: 40%;
  padding-top: 2vh;
}
.nc-product_feature {
  font-size: 30%;
  padding-inline: 1vw;
  font-weight: 300;
}
.nc-product-detail_ {
  /* width: 100%; */
  /* background: green; */
  padding: 5rem 10rem;
  padding-top: 0;
}
.product-indepth {
  /* background: yellow; */
  padding-bottom: 0;
}
.product-indepth {
  padding-bottom: 2rem;
  /* padding-block: 10rem; */
}
.nc-product-detail_sub {
  /* background: red; */
  display: flex;
  align-items: center;
  /* gap: 20vw; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-block: 1rem;
}
.nc-product-detail_sub p {
  flex: 1;
}
.nc-product-detail_sub ul {
  font-weight: 200;
  flex: 5;
  /* background: green; */
  list-style-type: none;
}
.contact-anchor {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px var(--blue-1);
  background-color: #444444;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background: linear-gradient(var(--blue-2), var(--blue-3));
}
.hamburger {
  position: absolute;
}
.contact-navbar {
  position: absolute;
  transform: scaleX(0);
}
@media only screen and (max-width: 1400px) {
  section.footer-wrap-1 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
  .footer-sub-1 {
    flex: 1;
  }
  .footer-sub-2 {
    flex: 1;
  }
  .mapouter {
    flex: 1;
  }
}
@media only screen and (max-width: 800px) {
  .row-2 {
    flex-direction: column;
  }
  .row-2 img {
    width: 100%;
  }
  p.row-2-detail-content {
    font-size: 1rem;
  }
  .icon {
    height: 6rem;
    width: 6rem;
  }
  .anchor-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    flex-direction: column;
    background: white;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
  }
  .hamburger {
    position: relative;
    padding: 2rem;
    /* position: absolute; */
    /* top: 3rem; */
    /* right: 12rem; */
    /* z-index: 12; */
  }
  .product-el {
    /* background: green; */
    height: auto;
  }
  .anchor-wrapper {
    right: -100%;
    /* opacity: 0; */
    padding: 1rem;
    transition: 0.3s ease;
  }
  .anchor-wrapper.is-actived {
    right: 0;
    /* opacity: 1; */
  }
  .anchor-el {
    background: var(--blue-1);
    padding: 0.5rem;
    /* border-radius: 0.5rem; */
    top: 10vh;
    position: relative;
    height: 5%;
    display: flex;
    align-items: center;
  }
  .anchor-el:hover::after {
    transform: scaleX(0);
  }
  .product-el {
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
    z-index: -1;
  }
  .product-el .anchor-el {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* gap: 39%; */
    /* background: green; */
  }
  .arrow_down,
  .arrow_up {
    position: static;
  }

  .dropdown {
    position: absolute;
    border-radius: 0 0 0.5rem 0.5rem;
    background: green;
    top: 330%;
    /* top: calc(100% - 0.5rem); */
    /* width: 10%; */
    width: calc(100% - 1rem);
    /* width: 94%; */
    background: var(--blue-2);
    color: white;
    padding: 1rem 0.5rem;
  }
  .dropdown-el {
    /* border-top: 1px solid rgba(0, 0, 0, 0.5); */
    /* padding-top: 0.5rem; */
    color: white;
  }
  .dr-sub,
  .dr-sub2 {
    /* background: var(--blue-3); */
    position: relative;
    padding-inline: 0;
    top: 0;
    right: 0;
    color: white;
    font-weight: 200;
  }
  .dropdown p {
    font-weight: 800;
  }
  .contact-button-wrapper {
    position: absolute;

    transform: scaleX(0);
  }
  .contact-navbar {
    transform: scaleX(1);
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    position: fixed;
    bottom: 5vw;
    left: 5vw;
    color: black;
    z-index: 99;
    background: white;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
  }
  .hamburger {
    z-index: 99;
  }
  .hamburger .lines {
    width: 30px;
    height: 2px;
    background-color: var(--blue-3);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger .lines:nth-child(2) {
    margin-right: 0;
    width: 20px;
  }
  .hamburger.is-active {
    position: fixed;
    right: 5vw;
  }
  .hamburger.is-active .lines:nth-child(2) {
    opacity: 0;
  }

  .hamburger.is-active .lines:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.is-active .lines:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  .show {
    transform: scaleX(1);
  }
  .hide {
    transform: scaleX(0);
  }
  header {
    position: relative;
  }
  .row-1-company-name {
    font-size: 1.1rem;
  }
  .row-1-cta {
    font-size: 2rem;
  }
  .overlay {
    height: 100vh;
  }
  .row-1 {
    padding-top: 0;
  }
  .row-2-pic {
    height: auto;
  }
  .row-2-subtitle-wrapper {
    display: flex;
    gap: 0.7rem;
  }
  .row-2-subtitle {
    font-size: 300%;
  }
  .row-2_5 {
    padding-inline: 7vw;
    font-size: 200%;
  }
  .row-3 {
    height: auto;
    padding-inline: 0;
    height: 50vh;
  }
  .row-3-pic {
    height: 50vh;
  }
  .row-3-circle {
    height: 1rem;
    width: 1rem;
  }
  .row-3-line {
    height: 0.05rem;
  }
  .row-4-title {
    padding: 3rem;
  }
  .marquee {
    height: 10vh;
  }
  .icon-marquee-1 {
    height: 10vh;
  }
  .icon-marquee-2 {
    height: 12vh;
  }
  .icon-marquee-3 {
    width: 20vw;
  }
  .icon-marquee-5 {
    height: 10vh;
  }
  .icon-marquee-4 {
    width: 16vw;
    height: 10vh;
  }
  .icon-marquee-6 {
    height: 10vh;
  }
  .row-5-title {
    font-size: 60%;
  }
  .row-5-sub-1 {
    display: flex;
  }
  .row-5-sub {
    /* background: green; */
    width: 100%;
    /* align-items: flex-start;
     */
  }

  .row-5-btn {
    flex: 1;
    font-size: 100%;
    padding: 1rem 2rem;
  }
  footer {
    padding: 2rem;
    font-size: 2vw;
  }
  .mapouter {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-wrap-2 {
    flex-direction: column;
  }
  div.gmap_canvas #gmap_canvas {
    height: 100%;
    height: 100%;
  }
  .row-1-about-title {
    font-size: 3rem;
  }
  .row-1-about-company {
    font-size: 1.6rem;
  }
  .row-1-about-company-indo {
    font-size: 1.6rem;
  }
  .about-row2 {
    width: 90%;
    /* background: green; */
    padding-inline: 0;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding-block: 0;
    padding: 5vw;
  }

  .about-row2-img-wrapper,
  .about-row3-img-wrapper {
    margin: 0;
    width: 100%;
    /* flex: 2; */
    border: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: green; */
    /* width: 100rem; */
    /* height: 100rem; */
    /* background: green;
    width: 100%;
    height: 5rem; */
  }
  .about-row2-pic1,
  .about-row2-pic2,
  .about-carbontech {
    width: 100%;
    position: static;
    border-radius: 0;
  }
  .about-row2-detail,
  .about-row3-detail {
    font-size: 10vw;
  }
  .about-row3-detail h1 {
    margin-top: 10vh;
  }
  .about-row2-detail h1 {
    margin-top: 5vh;
  }
  .content-wrapper .about-row2:nth-child(5) {
    margin-top: 10vh;
  }
  .about-standards-picture-wrap {
    gap: 2.5rem;
  }
  .circle-logo {
    height: 5rem;
    width: 10rem;
  }
  .about-standards-detail {
    font-size: 10vw;
    justify-content: flex-start;
    align-items: flex-start;
    /* background: green; */
    width: 80vw;
    padding: 5vw;
  }
  .product-row-2-1 {
    background: blue;
    flex-direction: column;
    height: 100vh;
    /* display: flex; */
    /* flex-wrap: wrap; */
  }
  .product-row-2-1-el,
  .product-row-2-2-el,
  .product-row-2-3-el,
  .product-row-2-4-el {
    width: 100%;
  }
  .product-row-2-1-el-decoration,
  .product-row-2-2-el-decoration,
  .product-row-2-3-el-decoration,
  .product-row-2-4-el-decoration {
    font-size: 0.8vw;
  }
  .product-carbontech {
    height: 20vh;
  }
  .product-indepth {
    flex-direction: column;
    padding: 0;
    padding-inline: 5vw;
  }
  .product-indepth-pic {
    height: 30vh;
    width: 100%;
  }
  .product-detail-product {
    font-size: 8vw;
    padding-inline: 0;
    margin-bottom: 5vh;
  }
  .product-indepth-button {
    font-size: 60%;
    /* z-index: 99999; */
  }
  .nc-product-detail_ {
    padding-inline: 5vw;
    font-size: 1.8vw;
  }
  .contact-us-wrapper {
    flex-direction: column;
    gap: 10vh;
    padding: 5vw;
  }
  /* .contact-wrap-2 {
    z-index: 99999;
  } */
  /* .anchor-wrapper {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    flex-direction: column;
  } */
}
